/* General */
body {
  background-color: black;
}
h1,
h2,
p,
li {
  font-family: Roboto, 'Helvetica Neue';
  font-size: 150%;
}

h1,
h2 {
  text-align: center;
  font-size: 200%;
}
a {
  color: white;
}

/*             */
.principal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 100px 1fr 1fr 1fr 1fr;
  gap: 10px;
  justify-items: center;
  background-color: whitesmoke;
}

/* Avatar */
.avatar {
  grid-column: 2;
  grid-row: 1;
}
.avatar img {
  width: 300px;
  border-radius: 50%;
}
.nombre {
  grid-column: 2;
  grid-row: 2;
}
/* */

/* Contenido */

.intro {
  /* Posicion */
  grid-column: 1/4;
  grid-row: 3;

  /* Diseño */
  padding: 0px 40px 0px 40px;
  color: white;
  background-color: black;
}

.skills {
  /* Posicion */
  grid-column: 2;
  grid-row: 4;

  /* Grid interior */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  justify-items: center;
}
.skills h2 {
  /* Posicion */
  grid-column: 1 /3;
}
.skills .softs {
  /* Posicion */
  grid-column: 1;
  grid-row: 2;
}
.skills .languages {
  /* Posicion */
  grid-column: 2;
  grid-row: 2;
}

.proyectos {
  /* Posicion */
  grid-column: 1/4;
  grid-row: 5;

  /* Diseño */

  padding: 0px 40px 0px 40px;
  background-color: black;
  color: white;
}
.contacto {
  /* Posicion */
  grid-column: 1/4;
  grid-row: 6;

  /* Grid interior */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 70px;
  width: 100vw;
  justify-items: center;
}
.contacto a {
  color: black;
}
.contacto h2 {
  /* Posicion */
  grid-column: 1 /5;
}
.contacto_info {
  grid-column: 1 /5;
  grid-row: 3;
}
/* */

/* Imagenes */
.imgsoft {
  grid-column: 1;
  grid-row: 4;
}
.imgsoft img {
  width: 300px;
}
.lang {
  grid-column: 3;
  grid-row: 4;
}
.lang img {
  width: 300px;
}

/* Iconos contacto*/
.icon_tw {
  grid-column: 1;
  grid-row: 2;
}
.icon_tw img {
  width: 100px;
}
.icon_git {
  grid-column: 2;
  grid-row: 2;
}
.icon_git img {
  width: 100px;
}
.icon_lk {
  grid-column: 3;
  grid-row: 2;
}
.icon_lk img {
  width: 100px;
}
/* */
/* */
